In [23]:
!pip install pandas wget

Requirement already satisfied: pandas in d:\kaushik\github repos\data_engineering_course\env\lib\site-packages (1.5.2)
Requirement already satisfied: wget in d:\kaushik\github repos\data_engineering_course\env\lib\site-packages (3.2)
Requirement already satisfied: pytz>=2020.1 in d:\kaushik\github repos\data_engineering_course\env\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\kaushik\github repos\data_engineering_course\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in d:\kaushik\github repos\data_engineering_course\env\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in d:\kaushik\github repos\data_engineering_course\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 21.2.3; however, version 22.3.1 is available.
You should consider upgrading via the 'D:\Kaushik\github repos\data_engineering_course\env\Scripts\python.exe -m pip install --upgrade pip' command.

## Download the dataset from the internet

In [4]:
import wget

dataset_URL = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'
wget.download(dataset_URL)

100% [........................................................................] 25031880 / 25031880

'yellow_tripdata_2021-01.csv.gz'

## Download data dictionary

In [9]:
data_dictionary_URL = 'https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf'
wget.download(data_dictionary_URL)

  0% [                                                                            ]      0 / 124043
  6% [.....                                                                       ]   8192 / 124043
 13% [..........                                                                  ]  16384 / 124043
 19% [...............                                                             ]  24576 / 124043
 26% [....................                                                        ]  32768 / 124043
 33% [.........................                                                   ]  40960 / 124043
 39% [..............................                                              ]  49152 / 124043
 46% [...................................                                         ]  57344 / 124043
 52% [........................................                                    ]  65536 / 124043
 59% [.............................................                               ]  73728 / 124043
 66% [..................................................                          ]  81920 / 124043
 72% [.......................................................                     ]  90112 / 124043
 79% [............................................................                ]  98304 / 124043
 85% [.................................................................           ] 106496 / 124043
 92% [......................................................................      ] 114688 / 124043
 99% [........................................................................... ] 122880 / 124043
100% [............................................................................] 124043 / 124043

'data_dictionary_trip_records_yellow.pdf'

## Extract the dataframe from the zip file

In [7]:
import gzip
import pandas as pd

with gzip.open('yellow_tripdata_2021-01.csv.gz') as f:
    df = pd.read_csv(f)
    
df.head()

C:\Users\alarv\AppData\Local\Temp\ipykernel_5948\111138924.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

## Extract location lookup table from internet

In [12]:
lookup_table_URL = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'
lookup_df = pd.read_csv(lookup_table_URL)

In [13]:
lookup_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
lookup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

## Creating schema for the sql table

$ We can manually write the create table command or use the in-built "get_schema()" function from pandas to automate this part.

$ The pickup and the dropoff datetime is of text data type and so we need to convert it to datetime object before inserting into the database.

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data_table'))

CREATE TABLE "yellow_taxi_data_table" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [20]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1369765 non-null  datetime64[ns]
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(1)
memory usage: 188.1+ MB

In [21]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data_table'))

CREATE TABLE "yellow_taxi_data_table" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

## Connecting to the postgres database

In [25]:
!pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in d:\kaushik\github repos\data_engineering_course\env\lib\site-packages (1.4.46)
Collecting psycopg2
  Downloading psycopg2-2.9.5-cp39-cp39-win_amd64.whl (1.2 MB)
Requirement already satisfied: greenlet!=0.4.17 in d:\kaushik\github repos\data_engineering_course\env\lib\site-packages (from sqlalchemy) (2.0.1)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

WARNING: You are using pip version 21.2.3; however, version 22.3.1 is available.
You should consider upgrading via the 'D:\Kaushik\github repos\data_engineering_course\env\Scripts\python.exe -m pip install --upgrade pip' command.

In [26]:
from sqlalchemy import create_engine

USER = 'root'
PASSWORD = 'root'
DB = 'nytaxi_db'
PORT = 5432


CONNECTION_URL = f'postgresql://{USER}:{PASSWORD}@localhost:{PORT}/{DB}'

engine = create_engine(CONNECTION_URL)

In [27]:
engine

Engine(postgresql://root:***@localhost:5432/nytaxi_db)

In [28]:
engine.connect()

In [36]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data_table', con=engine))

CREATE TABLE yellow_taxi_data_table (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

## Inserting the data into the database

In [37]:
table_name = 'yellow_taxi_data_table'
df.to_sql(table_name, con=engine)

765

## Running simple sql queries on the db

In [41]:
pd.read_sql_query(f'select * from {table_name} limit 5', con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [46]:
pd.read_sql_query(f'select count(*) from {table_name}', engine)

     count
0  1369765

In [48]:
pd.read_sql_query(f'select * from {table_name} limit 2', engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.1,1.0,N,142,43,2.0,8.0,3.0,0.5,0.0,0.0,0.3,11.8,2.5
1,1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.2,1.0,N,238,151,2.0,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0